.navbar {
  background-color: #3f51b5; /* Primary color */
  color: white;
  padding-block-start: 20px;
}

.brand {
  padding-block-end: 25px;
  font-size: 24px;
  font-weight: bold;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 16px;
}

mat-icon {
  cursor: pointer;
}

.search-control {
  align-items: center;
}

/* with this we are ensuring the suggestions appear with an image and info side by side */
.product-suggestion {
  display: flex;
  align-items: center;
}

.product-image {
  width: 40px;  
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;  
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info strong {
  font-size: 14px;
  line-height: 1.2;
}

.product-info p {
  font-size: 12px;
  margin: 0;
  color: #555;
}