
/* above is trying */
.product-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  
  .carousel-container {
    flex: 1; /* Carousel takes up available space */
    max-width: 30%; /* Carousel takes up 60% of the width */
  }
  
  .carousel-image {
    object-fit: contain;
    width: 100%;
    height: 400px;
  }
  
  .carousel-image img {
    object-fit: cover;
    object-position: center;
  }
  
  .product-details-container {
    flex: 1; /* Takes up remaining space */
    max-width: 60%; /* Limits width for product details */
    padding: 15px;
    border-left: 1px solid #ccc; /* Adds a separating line */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .current-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #f00; /* Red for emphasis */
  }
  
  .original-price {
    font-size: 1rem;
    color: #888;
  }
  
  @media (max-width: 768px) {
    .product-container {
      flex-direction: column;
    }
  
    .carousel-container {
      max-width: 100%;
    }
  
    .product-details-container {
      max-width: 100%;
      border-left: none;
      margin-top: 20px;
    }
  }

  
.product-card {
  margin: 40px auto;
  width: 400px; /* Set fixed width */
  height: 400px; /* Set fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}
  
  
  
  
/* review */
/* reviews.component.css */
.reviews {
    max-width: 800px;
    margin: 40px auto;
  }
  
  .review {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .review span {
    font-weight: bold;
  }

  /* checking */
