/* header{
    position: fixed;
    top: 0;
     z-index: 11;
    transition: all 250ms ease-in-out;
  }
  .main-header{
    @extend header;
    &.hidden{
      opacity: 0;
    }
  }
  .search-block{
    width: 0%;
    right: 0;
    @extend header;
    background: #fff;
    &.active{
      width: 100%;
    }
    .search-control{
      flex: 1;
      font-size: 1rem;
      border: 0;
      outline: none;
      padding-left: 10px;
    }
  } */

  .search-block {
    padding: 10px 20px;
  }
  
  .toolbar-row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-field, .select-field {
    margin-right: 16px; 
    
  }
  
  .search-control {
    width: 200px; 
  }
  
  .example-button-row {
    display: flex;
    align-items: center;
    margin-left: 16px; 
  }
  
  mat-form-field {
    /* flex-grow: 1; */
    min-width: 100px;
  }
  
  mat-select {
    min-width: 180px; 
  }
  
  .pagination-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  .page-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .page-size-selector {
    text-align: center;
    margin-top: 10px;
  }
  