<div class="eaton mat-typography" style="overflow-x: hidden;">

  <div class="pagination-controls">
    <button mat-flat-button (click)="prevPage()" [disabled]="skip === 0">Previous</button>
    <button mat-flat-button (click)="nextPage()" [disabled]="skip + limit >= totalProducts" >Next</button>
    <button mat-flat-button (click)="searchClose()" style="text-align: right;">Reset</button>
  </div>
  
  <div class="page-info">
    <span>{{ getCurrentPageRange() }} of {{ totalProducts }}</span>
    <span>Page {{ getCurrentPageNumber() }} of {{ getTotalPages() }}</span>
  </div>

  <!-- Page size selector -->
  <div class="page-size-selector">
    <label for="pageSize">Items per page:</label>
    <select id="pageSize" [(ngModel)]=limit (change)="onPageSizeChange(limit)">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutAlign="space-around center">
    <!-- fxFlex="calc(33.33% - 16px)" this is use for giving maaximum showing of product -->
    <ul *ngFor="let p of products">
      <app-product [product]="p"></app-product>
    </ul>
  </div>
</div>