.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.product-card {
  width: 300px; /* Set fixed width */
  height: 570px; /* Set fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.product-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
}

.discount {
  color: red;
  font-size: 1em;
  text-decoration: line-through;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  color: gold;
  font-size: 1.2em;
}


